* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
}

nav {
    max-width: 100%;
    background-color: #DC8B12;
    margin-top: -8px;
}

.menu-horizontal {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.menu-horizontal>li>a {
    display: block;
    padding: 15px 25px;
    font: italic normal bold 25px/35px Segoe UI;
    color: #000000;
    text-decoration: none;
}

.menu-horizontal>li:hover {
    background-color: #cf810bde;
}

.menu-vertical {
    position: absolute;
    display: none;
    list-style: none;
    width: 154px;
    background-color: #DC8B12;
}

.menu-horizontal li:hover .menu-vertical {
    display: block;
}

.menu-vertical li:hover {
    background-color: #cf810bde;
}

.menu-vertical li a {
    display: block;
    color: #000000;
    padding: 15px 15px 15px 20px;
    font: italic normal bold 25px/35px Segoe UI;
    text-decoration: none;
}

.menu-horizontal>li {
    display: inline-block;
    text-align: center;
}

/* .menu-horizontal>li::before {
    content: "";
    height: 5px;
    width: 0%;
    background: #905725;
    position: absolute;
    left: 0;
    bottom: -0px;
    transition: 0.4s ease-out;
}

.menu-horizontal>li:hover::before {
    width: 100%;
} */

.menu-vertical>li {
    display: inline-block;
    width: 154px;
}

/* .menu-vertical>li::before {
    content: "";
    height: 5px;
    width: 0%;
    background: #905725;
    position: absolute;
    left: 0;
    bottom: -0px;
    transition: 0.4s ease-out;
}

.menu-vertical>li:hover::before {
    width: 100%;
} */

.nav-logos {
    width: 100%;
    margin: auto;
    margin-top: -10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #020506;
}
.buscar{
    position: relative;
    padding: 5px;
}
.buscar input{
    width: 0px;
    height: 40px;
    padding: 0 20px;
    font-size: 15px;
    color: #000000;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
    transition: all 0.6s ease;
    margin-top: -3px;
}

.bt{
    position: absolute;
    top: 0;
    right: 0;
    background: #000000;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -5px;
}
.bt img{
    transition: all .7s ease;
}
.buscar:hover img{
    transform: rotate(-360deg);
}
.buscar:hover input{
    width: 200px;
}
.buscar input:focus{
    width: 200px;
}

.log {
    width: 200px;
    cursor: pointer;
}

.nav-logos li {
    display: inline-block;
    margin: 0 20px;
    margin-top: 10px;
}

.nav-logos ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12%;
}

.img {
    width: 40px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12%;
}

.logo h1 {
    text-align: center;
    text-align: left;
    font: normal normal normal 50px/8px Vladimir Script;
    letter-spacing: 0px;
    color: #DFAA2D;
    text-shadow: 0px 3px 6px #1219E4DB;
    opacity: 1;
    margin-left: -40px;
    margin-top: 10px;
    -webkit-text-stroke: 0.5px #AF2727;
}

header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}
.sub-nav {
    position: fixed;
    top: 9%;
    right: 12%;
    width: 250px;
    max-height: 0px;
    overflow: hidden;
    background: linear-gradient(#020506, #265864, #000000);
    border-radius: 15px;
    transition: max-height 0.5s;
    color: #fdfdfc;
    font: italic normal bold 18px/15px Segoe UI;
}

.sub-nav.open-menu {
    max-height: 400px;
}

.sub-menu {
    padding: 20px;
}

.info {
    text-align: center;
}

.info h3 {
    font-weight: 500;
}

.info img {
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.sub-menu hr {
    border: 0;
    height: 1px;
    background: #dfaa2d;
    margin: 5px 0 5px;
}

.sub-menu-link img {
    width: 25px;
    background: #dda217;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    margin: 12px 0;
    font: italic normal bold 15px/15px Segoe UI;
}

.sub-menu-link p {
    width: 100%;
}

.sub-menu-link span {
    font-size: 22px;
    transition: transform 0.5s;
}

.sub-menu-link:hover span {
    transform: translateX(5px);
}

.sub-menu-link:hover p {
    font-weight: 600;
    transform: translateY(5px);
}

.clic {
    cursor: pointer;
}
.container {
    width: 100%;
    height: 665.83px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 10.1rem;
    background: radial-gradient(#F8F2F2, #0A0909, #000000);
    box-shadow: 0px 31px 37px -7px rgba(0, 0, 0, 0.55);
}
.img-bucana {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text {
    width: 25%;
    height: 32%;
}
.text {
    color: aliceblue;
    font: italic normal bold 25px/50px Segoe UI;
    text-align: center;
}
.titulo-bucana {
    width: 50%;
    height: 25%;
}
.titulo-bucana img,.cont-img img {
    width: 100%;
    height: 100%;
}
.cont-img {
    width: 45%;
    height: 90%;
    margin: auto;
}
.whisky-text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #265864;
}
.whisky-text h2{
    padding: 20px 0;
    color: aliceblue;
    font: italic normal bold 35px/35px Segoe UI;
    text-align: center;
}
.contenido,.contenido1,.contenido2 {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contenido {
    background-color: #265864;
}
.contenido1 {
    background-color: #172429;
}
.contenido2 {
    position: relative;
    background: linear-gradient(#132c33, #000000);
    box-shadow: 0px 20px 14px -8px #1C4049;
}
.columna {
    width: 25%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nomb {
    width: 50%;
    height: 40%;
    text-align: center;
    font: italic normal bold 30px/67px Sitka Banner;
    letter-spacing: 0px;
    line-height: normal;
    color: #FFFFFF;
    opacity: 1;
}
.img-whisky {
    width: 50%;
    height: 100%;
}
.img-whisky img {
    width: 100%;
    height: 100%;
}
.img-whisky img:hover{
    transform: scale(1.1);
}
.marg {
    margin: auto;
}


footer {
    width: 100%;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
}

.footer-siguenos,
.footer-contacto,
.footer-horarios {
    width: 15%;
    height: 80%;
    text-align: center;
    font: italic normal normal 15px/30px Segoe UI;
    letter-spacing: 0px;
    color: #F5F5F5;
    opacity: 1;
}

.footer-siguenos {
    margin-left: 10%;
}

.footer-horarios {
    margin-right: 10%;
}

.footer-siguenos img {
    width: 50px;
    margin: 15px;
}

.footer-contacto img {
    width: 45px;
}

.alinear {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.alinear a {
    margin-left: 55px;
}

.alinear p {
    margin-right: 10px;
}

.alinear .p {
    margin-right: 90px;
}